In [1]:
import pandas as pd
import numpy as np
import missing

In [3]:
riskfactors = pd.read_csv("./data/riskfactors.csv")
riskfactors.head(2)

,state,sex,age,weight_lbs,height_inch,bmi,marital,pregnant,children,education,...,smoke_100,smoke_days,smoke_stop,smoke_last,diet_fruit,diet_salad,diet_potato,diet_carrot,diet_vegetable,diet_juice
0,26,Female,49,190.0,64.0,32.68,Married,NaN,0,6.0,...,No,NaN,NaN,NaN,1095.0,261.0,104.0,156.0,521.0,12.0
1,40,Female,48,170.0,68.0,25.90,Divorced,NaN,0,5.0,...,No,NaN,NaN,NaN,52.0,209.0,52.0,0.0,52.0,0.0

## Matriz de sombras

### Concepto y aplicación de la matriz de sombras

Construcción de la matriz de sombras

In [8]:
(
    riskfactors
    .isna()
    .replace(
        {
            True: "Missing",
            False: "Not missing"
        }
    )
    .add_suffix("_NA")
    .pipe(
        lambda df: (
            pd.concat(
                [riskfactors, df],
                axis= "columns"
            )
        )
    )
)

,state,sex,age,weight_lbs,height_inch,bmi,marital,pregnant,children,education,...,smoke_100_NA,smoke_days_NA,smoke_stop_NA,smoke_last_NA,diet_fruit_NA,diet_salad_NA,diet_potato_NA,diet_carrot_NA,diet_vegetable_NA,diet_juice_NA
0,26,Female,49,190.0,64.0,32.68,Married,NaN,0,6.0,...,Not missing,Missing,Missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
1,40,Female,48,170.0,68.0,25.90,Divorced,NaN,0,5.0,...,Not missing,Missing,Missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
2,72,Female,55,163.0,64.0,28.04,Married,NaN,0,4.0,...,Not missing,Missing,Missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
3,42,Male,42,230.0,74.0,29.59,Married,NaN,1,6.0,...,Not missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,32,Female,66,135.0,62.0,24.74,Widowed,NaN,0,5.0,...,Not missing,Not missing,Not missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,10,Female,79,144.0,63.0,25.56,Widowed,NaN,0,4.0,...,Not missing,Missing,Missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
241,46,Male,45,170.0,74.0,21.87,Divorced,NaN,2,4.0,...,Not missing,Missing,Missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
242,15,Male,62,175.0,71.0,24.46,Divorced,NaN,0,6.0,...,Not missing,Not missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
243,34,Female,62,138.0,64.0,23.74,Married,NaN,0,4.0,...,Not missing,Not missing,Not missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing
244,18,Male,9,200.0,70.0,28.76,Married,NaN,0,4.0,...,Not missing,Not missing,Missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing,Not missing

### Utilizar función de utilería `bind_shadow_matrix()`

In [10]:
(
    riskfactors
    .missing.bind_shadow_matrix(only_missing= True)
)

,state,sex,age,weight_lbs,height_inch,bmi,marital,pregnant,children,education,...,smoke_100_NA,smoke_days_NA,smoke_stop_NA,smoke_last_NA,diet_fruit_NA,diet_salad_NA,diet_potato_NA,diet_carrot_NA,diet_vegetable_NA,diet_juice_NA
0,26,Female,49,190.0,64.0,32.68,Married,NaN,0,6.0,...,Not Missing,Missing,Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
1,40,Female,48,170.0,68.0,25.90,Divorced,NaN,0,5.0,...,Not Missing,Missing,Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
2,72,Female,55,163.0,64.0,28.04,Married,NaN,0,4.0,...,Not Missing,Missing,Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
3,42,Male,42,230.0,74.0,29.59,Married,NaN,1,6.0,...,Not Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
4,32,Female,66,135.0,62.0,24.74,Widowed,NaN,0,5.0,...,Not Missing,Not Missing,Not Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,10,Female,79,144.0,63.0,25.56,Widowed,NaN,0,4.0,...,Not Missing,Missing,Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
241,46,Male,45,170.0,74.0,21.87,Divorced,NaN,2,4.0,...,Not Missing,Missing,Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
242,15,Male,62,175.0,71.0,24.46,Divorced,NaN,0,6.0,...,Not Missing,Not Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
243,34,Female,62,138.0,64.0,23.74,Married,NaN,0,4.0,...,Not Missing,Not Missing,Not Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing
244,18,Male,9,200.0,70.0,28.76,Married,NaN,0,4.0,...,Not Missing,Not Missing,Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing,Not Missing

Explorar estadísticos utilizando las nuevas columnas de la matriz de sombras

In [49]:
(
    riskfactors
    .missing.bind_shadow_matrix(only_missing= True)
    .groupby(["weight_lbs_NA"])
    ["age"]
    .describe()
)

               count       mean        std   min    25%   50%   75%   max
weight_lbs_NA
Missing         10.0  60.100000  13.706851  37.0  52.25  62.5  65.0  82.0
Not Missing    235.0  58.021277  17.662904   7.0  47.50  59.0  70.0  97.0